.trai{
    width: 40vw;
    height: 100vh;
    background-image: url(/image/op2.jpg);
    background-size: cover;
    float:left;
    margin: 0;
    padding: 0;
}
.trai img{
    padding:20% ;
    width: 200px;
    border-radius: 50%;
}
.ten{
    text-align: center;
}
.contact{
    text-align: center;
}
.Aboutme{
   line-height: 50px;
    border-bottom: 2px solid red;
}
.employment{
    line-height: 30px;
}
.phai{
    width: 55vw;
    height: 100vh;
    float: right;
}