#ph{
    color: violet;
}
body .box .grah{

}
.box > .grah{
    /* lệnh con trực tiếp là nhận. còn không thì sẽ không nhận */
}
.box .grah{
    color: blue;
}
.grah{
    color: pink;
}
p{
    color:black;
}
p{
    color: green;
}
